---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Albums - Soda Stereo">
  <main class="mt-24 px-4 md:px-24 mb-10">
    <h1 class="text-center font-bold text-3xl mb-8">Álbumes de Soda Stereo</h1>

    <!-- Top 5 Álbumes más escuchados -->
    <section class="top-albums mb-12">
      <h2 class="text-center font-semibold text-3xl mb-6 text-yellow-300">
        Álbumes
      </h2>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        <!-- Álbum 1 -->
        <div class="album flex flex-col items-center">
          <img
            src="/discografias/signos.jpg"
            alt="Signos"
            class="w-48 h-48 mb-4"
          />
          <h3 class="text-lg font-semibold">Signos</h3>
          <iframe
            src="https://open.spotify.com/embed/album/7s2lDvm4FwnWE5RXEoY8Gi"
            width="100%"
            height="80"
            frameborder="0"
            allowtransparency="true"
            allow="encrypted-media"></iframe>
        </div>
        <!-- Álbum 2 -->
        <div class="album flex flex-col items-center">
          <img
            src="/discografias/cancionAnimal.jpg"
            alt="Canción Animal"
            class="w-48 h-48 mb-4"
          />
          <h3 class="text-lg font-semibold">Canción Animal</h3>
          <iframe
            src="https://open.spotify.com/embed/album/3GoSlKTNcVOp1ZxE5OOXeN"
            width="100%"
            height="80"
            frameborder="0"
            allowtransparency="true"
            allow="encrypted-media"></iframe>
        </div>
        <!-- Álbum 3 -->
        <div class="album flex flex-col items-center">
          <img
            src="/discografias/sueñoStereo.jpg"
            alt="Sueño Stereo"
            class="w-48 h-48 mb-4"
          />
          <h3 class="text-lg font-semibold">Sueño Stereo</h3>
          <iframe
            src="https://open.spotify.com/embed/album/1A3VRbn7Kto2ov0LkSY0eg"
            width="100%"
            height="80"
            frameborder="0"
            allowtransparency="true"
            allow="encrypted-media"></iframe>
        </div>
        <!-- Álbum 4 -->
        <div class="album flex flex-col items-center">
          <img
            src="/discografias/dobleVida.jpg"
            alt="Doble Vida"
            class="w-48 h-48 mb-4"
          />
          <h3 class="text-lg font-semibold">Doble Vida</h3>
          <iframe
            src="https://open.spotify.com/embed/album/0mEY1U7SZdIwDWylFm2UC4"
            width="100%"
            height="80"
            frameborder="0"
            allowtransparency="true"
            allow="encrypted-media"></iframe>
        </div>
        <!-- Álbum 5 -->
        <div class="album flex flex-col items-center">
          <img
            src="/discografias/dynamo.jpg"
            alt="Dynamo"
            class="w-48 h-48 mb-4"
          />
          <h3 class="text-lg font-semibold">Dynamo</h3>
          <iframe
            src="https://open.spotify.com/embed/album/4bfwXuecOmNVlPM5RStAiQ"
            width="100%"
            height="80"
            frameborder="0"
            allowtransparency="true"
            allow="encrypted-media"></iframe>
        </div>
        <!-- Álbum 6 -->
        <div class="album flex flex-col items-center">
          <img
            src="/discografias/sep7imoDia.jpg"
            alt="Álbum Ejemplo"
            class="w-48 h-48 mb-4"
          />
          <h3 class="text-lg font-semibold">Sep7imo Dia</h3>
          <iframe
            src="https://open.spotify.com/embed/album/0HUncweJW3LTO0YOvOEX4a"
            width="100%"
            height="80"
            frameborder="0"
            allowtransparency="true"
            allow="encrypted-media"></iframe>
        </div>
        <!-- Álbum 7 -->
        <div class="album flex flex-col items-center">
          <img
            src="/discografias/nadaPersonal.jpg"
            alt="Álbum Ejemplo"
            class="w-48 h-48 mb-4"
          />
          <h3 class="text-lg font-semibold">Nada Personal</h3>
          <iframe
            src="https://open.spotify.com/embed/album/0hyq754QnaKHYpH32QnWqs"
            width="100%"
            height="80"
            frameborder="0"
            allowtransparency="true"
            allow="encrypted-media"></iframe>
        </div>
        <!-- Álbum 8 -->
        <div class="album flex flex-col items-center">
          <img
            src="/discografias/obrasCumbres.jpg"
            alt="Álbum Ejemplo"
            class="w-48 h-48 mb-4"
          />
          <h3 class="text-lg font-semibold">Obras Cumbres</h3>
          <iframe
            src="https://open.spotify.com/embed/album/7MqDgagaBfm7Cjlg7uzlAa"
            width="100%"
            height="80"
            frameborder="0"
            allowtransparency="true"
            allow="encrypted-media"></iframe>
        </div>
        <!-- Álbum 9 -->
        <div class="album flex flex-col items-center">
          <img
            src="/discografias/obrasCumbres2.jpg"
            alt="Álbum Ejemplo"
            class="w-48 h-48 mb-4"
          />
          <h3 class="text-lg font-semibold">Obras Cumbres (Parte 2)</h3>
          <iframe
            src="https://open.spotify.com/embed/album/1I2nAQWVXtI9xJ0xuRBLYV"
            width="100%"
            height="80"
            frameborder="0"
            allowtransparency="true"
            allow="encrypted-media"></iframe>
        </div>
        <!-- Álbum 10 -->
        <div class="album flex flex-col items-center">
          <img
            src="/discografias/zonaDePromesas.jpg"
            alt="Álbum Ejemplo"
            class="w-48 h-48 mb-4"
          />
          <h3 class="text-lg font-semibold">Zona De Promesas</h3>
          <iframe
            src="https://open.spotify.com/embed/album/6Vxa62nfEzoFx8kc8lhpj1"
            width="100%"
            height="80"
            frameborder="0"
            allowtransparency="true"
            allow="encrypted-media"></iframe>
        </div>
      </div>
    </section>
  </main>

  <!-- Otros Álbumes -->
  <section class="other-albums mt-12 mx-24">
    <h2 class="text-center font-semibold text-3xl mb-12 text-yellow-300">
      Transmisiones en vivo
    </h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      <!-- Álbum ejemplo -->

      <div class="album flex flex-col items-center">
        <img
          src="/discografias/meVerasVolver.jpg"
          alt="Álbum Ejemplo"
          class="w-48 h-48 mb-4"
        />
        <h3 class="text-lg font-semibold">Gira Me Veras Volver</h3>
        <iframe
          src="https://open.spotify.com/embed/album/4Sy7VzDS4j1MLIYF85grsZ"
          width="100%"
          height="80"
          frameborder="0"
          allowtransparency="true"
          allow="encrypted-media"></iframe>
      </div>
      <div class="album flex flex-col items-center">
        <img
          src="/discografias/meVerasVolver2.jpg"
          alt="Álbum Ejemplo"
          class="w-48 h-48 mb-4"
        />
        <h3 class="text-lg font-semibold">Gira Me Veras Volver #2</h3>
        <iframe
          src="https://open.spotify.com/embed/album/1cwZmK0zXorTlALtgOajeC"
          width="100%"
          height="80"
          frameborder="0"
          allowtransparency="true"
          allow="encrypted-media"></iframe>
      </div>
      <div class="album flex flex-col items-center">
        <img
          src="/discografias/ultimoConcierto.jpg"
          alt="Álbum Ejemplo"
          class="w-48 h-48 mb-4"
        />
        <h3 class="text-lg font-semibold">El Ultimo Concierto B</h3>
        <iframe
          src="https://open.spotify.com/embed/album/0k9Oh11PrdeZ6ngoJGhWMk"
          width="100%"
          height="80"
          frameborder="0"
          allowtransparency="true"
          allow="encrypted-media"></iframe>
      </div>
      <div class="album flex flex-col items-center">
        <img
          src="/discografias/ultimoConciertoA.jpg"
          alt="Álbum Ejemplo"
          class="w-48 h-48 mb-4"
        />
        <h3 class="text-lg font-semibold">El Ultimo Concierto A</h3>
        <iframe
          src="https://open.spotify.com/embed/album/3QTxxZucih0hympCczXXuO"
          width="100%"
          height="80"
          frameborder="0"
          allowtransparency="true"
          allow="encrypted-media"></iframe>
      </div>

      <!-- Añadir más álbumes aquí -->
    </div>
  </section>
</Layout>

<style>
  body {
    background-color: rgb(0, 80, 137);
    color: rgb(255, 255, 255);
  }

  .album img {
    object-fit: cover;
    border-radius: 0.5rem;
  }

  .album h3 {
    margin-bottom: 0.5rem;
  }

  .grid {
    gap: 2rem;
  }
</style>
