---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Galeria - Soda Stereo Fan Club">
  <main class="mt-24">
    <h1 class="text-center text-4xl font-semibold text-white">Galeria</h1>
    <div class="images"></div>
  </main>
</Layout>
<style>
  body {
    background-color: rgb(0, 149, 255);
  }
</style>
