---
import Layout from "../layouts/Layout.astro";
---

<Layout title="curiosidades - Soda Stereo">
  <main class="mt-24 px-4 md:px-24 py-12">
    <h1 class="text-4xl font-bold text-center mb-12">Trivia y Curiosidades</h1>
    <div
      class="trivia-grid grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8"
    >
      <div class="trivia-item bg-white bg-opacity-10 p-6 rounded-lg shadow-lg">
        <h2 class="text-2xl font-semibold mb-4">Lindas Noches</h2>
        <p class="text-lg">
          Gustavo Cerati compuso la mayoría de las canciones de Soda Stereo en
          una sola noche.
        </p>
      </div>
      <div class="trivia-item bg-white bg-opacity-10 p-6 rounded-lg shadow-lg">
        <h2 class="text-2xl font-semibold mb-4">El Origen Del Nombre</h2>
        <p class="text-lg">
          El nombre "Soda Stereo" fue inspirado por el término "estereofonía" y
          la popularidad de las bebidas gaseosas.
        </p>
      </div>
      <div class="trivia-item bg-white bg-opacity-10 p-6 rounded-lg shadow-lg">
        <h2 class="text-2xl font-semibold mb-4">Un Himno</h2>
        <p class="text-lg">
          La canción "De Música Ligera" se convirtió en un himno del rock en
          español, aunque originalmente no iba a ser un sencillo.
        </p>
      </div>
      <div class="trivia-item bg-white bg-opacity-10 p-6 rounded-lg shadow-lg">
        <h2 class="text-2xl font-semibold mb-4">Los Primeros</h2>
        <p class="text-lg">
          El álbum "Signos" fue el primero en ser editado simultáneamente en
          varios países de América Latina.
        </p>
      </div>
      <div class="trivia-item bg-white bg-opacity-10 p-6 rounded-lg shadow-lg">
        <h2 class="text-2xl font-semibold mb-4">Internacionalización</h2>
        <p class="text-lg">
          Soda Stereo fue la primera banda de rock en español en realizar una
          gira internacional por América Latina.
        </p>
      </div>
      <div class="trivia-item bg-white bg-opacity-10 p-6 rounded-lg shadow-lg">
        <h2 class="text-2xl font-semibold mb-4">Otra Pasión</h2>
        <p class="text-lg">
          Gustavo Cerati también tenía pasión por la tecnología y los
          videojuegos, incluso colaboró en proyectos relacionados.
        </p>
      </div>
    </div>
  </main>
</Layout>
<style>
  body {
    background-color: rgb(0, 80, 137);
    color: rgb(255, 255, 255);
  }
  .trivia-item {
    box-shadow: 2px 2px 10px 1px #000;
  }
</style>
