<div class="characters text-center mx-8 md:mx-24 my-12 flex flex-col gap-y-12">
  <h1 class="text-4xl font-bold">Conócelos</h1>

  <!-- Gustavo Cerati -->
  <div class="cerati flex flex-col md:flex-row items-center">
    <img
      class="h-96 md:ml-10 md:mr-4"
      src="/Gustavo-Cerati.webp"
      alt="Gustavo Cerati"
    />
    <div class="flex flex-col items-center md:items-start gap-y-4">
      <h2 class="text-2xl font-semibold">Gustavo Cerati</h2>
      <p class="text-lg text-center md:text-left">
        Gustavo Adrián Cerati nació el 11 de agosto de 1959 en Buenos Aires,
        Argentina. En 1982, junto a Zeta Bosio y Charly Alberti, formó Soda
        Stereo, una de las bandas más influyentes del rock en español. Con
        álbumes como "Signos" (1986) y "Canción Animal" (1990), la banda alcanzó
        gran éxito. En 1997, se separaron tras una gira de despedida. <br />
        Cerati continuó su carrera en solitario, lanzando discos aclamados como "Bocanada"
        (1999) y "Ahí Vamos" (2006). En 2010, sufrió un accidente cerebrovascular
        que lo dejó en coma hasta su fallecimiento el 4 de septiembre de 2014. Su
        legado perdura en la música latinoamericana.
      </p>
    </div>
  </div>

  <!-- Zeta Bosio -->
  <div class="bosio flex flex-col md:flex-row-reverse items-center">
    <img class="h-96 md:ml-10 mb-4 md:mb-0" src="/bosio.jpg" alt="Zeta Bosio" />
    <div class="flex flex-col items-center md:items-end md:mr-4 gap-y-4">
      <h2 class="text-2xl font-semibold">Zeta Bosio</h2>
      <p class="text-lg text-center md:text-right">
        Héctor "Zeta" Bosio nació el 1 de octubre de 1958 en San Fernando,
        Argentina. En 1982, junto a Gustavo Cerati y Charly Alberti, formó Soda
        Stereo, una de las bandas más influyentes del rock en español. Como
        bajista, Zeta fue fundamental en el sonido distintivo de la banda. Tras
        la separación de Soda Stereo en 1997, Bosio se dedicó a la producción
        musical y colaboró con diversos artistas. También lanzó su propio libro
        autobiográfico, "Yo conozco ese lugar," en 2015, donde relata su
        experiencia con Soda Stereo y su vida personal.
      </p>
    </div>
  </div>

  <!-- Charly Alberti -->
  <div class="alberti flex flex-col md:flex-row items-center">
    <img
      class="h-96 md:ml-10 md:mr-4"
      src="/alberti.jpg"
      alt="Charly Alberti"
    />
    <div class="flex flex-col items-center md:items-start gap-y-4">
      <h2 class="text-2xl font-semibold">Charly Alberti</h2>
      <p class="text-lg text-center md:text-left">
        Carlos Alberto Ficicchia, conocido como Charly Alberti, nació el 27 de
        marzo de 1963 en Buenos Aires, Argentina. En 1982, se unió a Gustavo
        Cerati y Zeta Bosio para formar Soda Stereo, donde se destacó como
        baterista. Tras la disolución de la banda en 1997, Alberti se enfocó en
        la tecnología y el medio ambiente, fundando la organización R21 para
        promover la sostenibilidad ambiental en América Latina. Charly también
        regresó a la música con varios proyectos, manteniendo siempre un fuerte
        vínculo con la escena del rock.
      </p>
    </div>
  </div>
</div>
